body {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.testingForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  align-content: start;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}