:root {
    --common-black: #000000;
    --common-white: #FFFFFF;
    --primary-main: #4B7A8A;
    --primary-dark: #245866;
    --primary-surface: #F5F9F9;
    --grey-800: #454545;
    --grey-600: #707070;
    --grey-500: #909090;
    --grey-400: #B9B9B9;
    --grey-300: #DDDDDD;
    --grey-200: #EEEEEE;
    --grey-100: #F5F5F5;
    --grey-50: #FAFAFA;

}