.slider {
    display: grid;
    grid-template-areas:
    "label output"
    "track track";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    color: var(--grey-300);
    width: 162px;
    padding-left: 16px;
    /*padding: 16px;*/
    margin: 8px;
}

.label {
    grid-area: label;
    align-self: center;
    color: var(--common-black);
}

.output {
    grid-area: output;
}

.track {
    grid-area: track;
    position: relative;
    width: 162px;
}

.trackFilled {
    grid-area: track;
    position: absolute;
    height: 4px;
    border-radius: 3px;
    background: var(--primary-main); /* Left side of the track */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: width  ease-in-out;
}

.trackMain {
    grid-area: track;
    position: absolute;
    height: 4px;
    border-radius: 3px;
    background: var(--grey-300); /* Right side of the track */
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--primary-main);
    border: 2px solid var(--common-white);
    top: 50%;
}

.thumb:hover,
.thumb:focus,
.thumb:active {
    box-shadow: 0 0 0 7px rgb(75 122 138 / 20%);
}

.thumb[data-dragging] {
    background: var(--primary-main);
}

.thumb[data-focus-visible] {
    box-shadow: 0 0 0 7px rgb(75 122 138 / 20%);
}

.slider[data-orientation="horizontal"] {
    flex-direction: column;
    width: 162px;
}

.slider[data-orientation="horizontal"] .track {
    height: 30px;
    width: 100%;
}

.slider[data-orientation="horizontal"] .track::before {
    height: 3px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.slider[data-orientation="horizontal"] .thumb {
    top: 50%;
}
